#!/sbin/openrc-run
# Copyright 1999-2017 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Id$

CONFIGFILE="${CONFIGFILE:-/etc/hitch/hitch.conf}"
HITCH_PID=${PIDFILE:-/run/${SVCNAME}.pid}

command="${HITCH:-/usr/sbin/hitch}"
command_args="-p ${HITCH_PID} --config=${CONFIGFILE} --daemon ${HITCH_OPTS}"
pidfile="${HITCH_PID}"

extra_started_commands="configtest reload"

description_reload="Re-read configuration files."

depend() {
	use logger dns net
	if [ "${SVCNAME}" = "hitch" ]; then
		provide hitch
	fi
}

configtest() {
   ebegin "Checking ${SVCNAME} configuration"
   checkconfig
   eend $?
}

checkconfig() {
	${command} -t --config=${CONFIGFILE} >/dev/null 2>&1
   ret=$?
   if [ $ret -ne 0 ]; then
      eerror "${SVCNAME} has detected an error in your setup:"
      ${command} -t --config=${CONFIGFILE}
   fi

   return $ret
}

reload() {
   ebegin "Reloading ${SVCNAME}"
   start-stop-daemon -p ${HITCH_PID} -s SIGHUP
   eend $?
}
