#!/sbin/openrc-run
# Copyright 1999-2012 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Id$

CONFIGFILE="${CONFIGFILE:-/etc/hitch/hitch.conf}"
HITCH_PID=${PIDFILE:-/run/${SVCNAME}.pid}

command="${HITCH:-/usr/sbin/hitch}"
command_args="-p ${HITCH_PID} --config=${CONFIGFILE} --daemon ${HITCH_OPTS}"
pidfile="${HITCH_PID}"

extra_started_commands="configtest status reload"

description_reload="Re-read configuration files. Running processes terminate at their earliest convenience."
description_abort="Stop the hitch TLS proxy abruptly. Running processes are signaled to stop immediately."

depend() {
   use logger dns net
   if [ "${SVCNAME}" = "hitch" ]; then
      provide hitch
   fi
}

configtest() {
   ebegin "Checking ${SVCNAME} configuration"
   checkconfig
   eend $?
}

checkconfig() {
   ${command} -t --config=${CONFIGFILE} >/dev/null 2>&1
   ret=$?
   if [ $ret -ne 0 ]; then
      eerror "${SVCNAME} has detected an error in your setup:"
      ${command} -t --config=${CONFIGFILE}
   fi

   return $ret
}

start_pre() {
   checkconfig || return 1
}

stop_pre() {
   if [ "${RC_CMD}" = "restart" ]; then
      checkconfig || return 1
   fi
}

reload() {
   checkconfig || return 1

   ebegin "Reloading ${SVCNAME}"
   start-stop-daemon -p ${HITCH_PID} -s SIGHUP
   eend $?
}
